/* ===================== Variable ===============  */
.layout-page, .media .layout, .sec-download .layout, .contact-us .layout, .events .layout, .project .layout, .sytem .layout, .about-us .layout {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.71);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.layout-page .text, .media .layout .text, .sec-download .layout .text, .contact-us .layout .text, .events .layout .text, .project .layout .text, .sytem .layout .text, .about-us .layout .text {
  max-width: 600px;
  background-color: rgba(242, 242, 242, 0.3607843137);
  color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.layout-page .text p, .media .layout .text p, .sec-download .layout .text p, .contact-us .layout .text p, .events .layout .text p, .project .layout .text p, .sytem .layout .text p, .about-us .layout .text p {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 600;
  padding-left: 50px;
}
.layout-page .text h2, .media .layout .text h2, .sec-download .layout .text h2, .contact-us .layout .text h2, .events .layout .text h2, .project .layout .text h2, .sytem .layout .text h2, .about-us .layout .text h2 {
  padding-left: 50px;
  font-size: 30px;
}

.bg-nav {
  background-color: #fff !important;
}

.bg-active {
  background-color: #e11739 !important;
}

.z-idx {
  z-index: 9999999999;
}

.cursor {
  cursor: pointer;
}

/* ===================== Global ===============  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #777;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
a:hover {
  color: #000;
}

.specail_h1 {
  margin: 0;
  text-align: center;
  color: #777;
  font-weight: 200;
  font-family: cursive;
}

.bg-heaing {
  color: #e11739;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

.imgHtml {
  width: 500px;
  height: 300px;
  background-image: url(../image/port1.jpg);
  background-position: center;
  box-sizing: 100% 100%;
}

.imgHtml i {
  cursor: pointer;
}

/* =================================== Home Page ========================================================= */
/* ===================== Header ===============  */
header .home {
  position: relative;
}
header .home img {
  height: 100vh !important;
}
@media (max-width: 767px) {
  header .home img {
    height: 60vh !important;
  }
}
header .home .carousel-control-prev-icon {
  background-image: url();
}
header .home .overlay {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3882352941);
  z-index: 1;
}
header .home i.fa-solid.fa-chevron-left,
header .home i.fa-solid.fa-chevron-right {
  background-color: #fff;
  color: #000;
  font-size: 47px;
  padding: 10px;
  border-radius: 10px;
}
header .home .carousel-caption {
  bottom: 11.25rem;
  color: #fff;
  z-index: 9999;
}
header .home .carousel-caption p {
  color: #777;
}
header .home .carousel-caption .btn {
  width: 150px !important;
  margin: 0 5px;
  padding: 10px !important;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  header .home .carousel-caption .btn {
    width: 100px !important;
    padding: 5px !important;
  }
}
@media (max-width: 991px) {
  header .home .carousel-caption {
    bottom: 1.25rem;
  }
}
header .home .carousel-caption h5 {
  font-size: 60px;
  font-weight: 900;
}
@media (max-width: 767px) {
  header .home .carousel-caption h5 {
    font-size: 30px;
  }
}
header .home .carousel-caption p {
  font-size: 20px;
}

/* ===================== Navbar ===============  */
nav {
  z-index: 9999999 !important;
}
nav .logo {
  width: 150px;
}
nav ul {
  color: #fff !important;
}
@media (max-width: 991px) {
  nav ul {
    background-color: rgba(0, 0, 0, 0.9294117647);
    padding: 20px;
    position: absolute;
    top: 68px;
    width: 100%;
    height: 100vh;
    left: 0;
  }
}
nav ul li.nav-item {
  position: relative;
  text-align: left;
}
nav ul li.nav-item a {
  background-color: #1b1c1d;
  padding: 5px;
  margin: 5px;
  color: #fff !important;
  display: block;
  border-radius: 10px;
  transition: all 0.5s ease;
  position: relative;
}
@media (max-width: 991px) {
  nav ul li.nav-item a {
    background-color: transparent !important;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  nav ul li.nav-item a::after {
    content: "";
    position: absolute;
    background-color: #BE2623;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
  }
  nav ul li.nav-item a:hover {
    margin-left: 10px !important;
  }
}
nav .navbar-toggler {
  color: #be2623;
}

/* ===================== About ===============  */
.about .container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
.about .about-work img {
  width: 100% !important;
}
.about .about-work h3 {
  font-size: 50px;
  padding: 0 0 20px 0;
  margin-bottom: 30px;
  color: #e11739;
  font-weight: 700;
  position: relative;
}
.about .about-work h3::after {
  content: "";
  position: absolute;
  background-color: rgba(225, 23, 57, 0.6117647059);
  width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
}
.about .about-work p {
  line-height: 1.8;
  color: #777;
}
.about .about-work .spans {
  margin-top: 20px;
  position: relative;
  width: 111%;
  bottom: -71px;
  transition: all 1s;
  background-color: #fff;
}
.about .about-work .spans span {
  text-align: center;
  position: relative;
  padding: 30px;
  text-align: center;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(225, 23, 57, 0.6117647059);
  width: 25%;
}
@media (max-width: 991px) {
  .about .about-work .spans {
    width: 100%;
    bottom: 0;
  }
}
.about .about-service .element {
  position: relative;
  padding: 20px 5px;
}
.about .about-service .element h6 {
  color: #001e57;
  font-weight: 500;
  font-size: 20px;
}
.about .about-service .element p {
  color: #777;
}
.about .about-service .element .overlay {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #e11739;
  transition: all 2s;
  opacity: 0;
}
.about .about-service .element::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: red;
  bottom: 0;
  right: 0;
  left: 0;
}
.about .about-service .element::before {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  bottom: 0;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 15px);
  background-color: #fff;
  transition: all 1s ease;
}
.about .about-service .element:hover .text, .about .about-service .element:hover .icon {
  z-index: 9999;
  color: aliceblue;
}
.about .about-service .element:hover::before {
  background-color: #001e57;
}
.about .about-service .element:hover::after {
  background-color: #001e57;
}
.about .about-service .element:hover .overlay {
  height: 100%;
  opacity: 1;
}
.about .about-details {
  position: relative;
  padding: 30px 0;
}
.about .about-details .image-details {
  height: 500px;
  background: url("../image/about/about-details.jpg");
  background-size: cover;
}
.about .details-text {
  padding: 30px;
}
.about .details-text h3 {
  color: #e11739;
  font-weight: 700;
  font-size: 30px;
}
.about .details-text p {
  line-height: 40px;
  color: #777;
}
.about .details-text span {
  color: rgba(225, 23, 57, 0.6117647059);
}

/* ===================== sectio-project ===============  */
.our-projects {
  background-color: #001e57;
}
.our-projects .container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
.our-projects h2 {
  color: #fff;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  font-family: cursive;
}
.our-projects h2::after {
  content: "";
  position: absolute;
  width: 50%;
  left: 17px;
  bottom: -7px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4392156863);
}
.our-projects h6 {
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  font-weight: 700;
}
.our-projects p {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 14px;
}
.our-projects a {
  color: #fff;
}
.our-projects .back {
  font-size: 205px;
  position: absolute;
  color: rgba(108, 117, 125, 0.2784313725);
  top: -78px;
  left: -104px;
}
.our-projects .owl-nav {
  font-size: 30px;
  position: absolute;
  top: -54px;
  right: 42px;
  color: white;
}
.our-projects .owl-nav span {
  margin-left: 20px;
  position: relative;
}
.our-projects .owl-prev {
  background-color: #e11739;
  position: relative;
}
.our-projects .owl-prev::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.3411764706);
  bottom: 0;
  left: 38px;
  top: 18px;
}
.our-projects .overlay {
  position: relative;
  transition: all 1s;
}
.our-projects .overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(224, 224, 224, 0.6392156863);
  transition: all 1s ease;
}
.our-projects .overlay:hover::before {
  bottom: 0;
}

.order {
  width: 70%;
  margin: -50px auto;
  background-color: #272727;
  text-align: center;
  color: #fff;
  padding: 10px;
}
@media (max-width: 767px) {
  .order {
    width: 100%;
  }
}
.order h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: cursive;
}
.order button {
  color: #e11739;
  font-weight: 700px;
}

/* Event */
.event {
  color: #fff;
}
.event h2 {
  text-align: center;
  color: #e11739;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  font-family: cursive;
}
.event .event-item {
  overflow: hidden;
}
.event .event-item:hover img {
  transform: scale(1.1);
}
.event .event-item:hover .event-text {
  transform: translatey(-40px);
}
.event .event-item img {
  transition: all 1s;
}
.event .event-item .event-text {
  color: #000;
  padding: 10px;
  text-align: center;
  transform: translatey(-30px);
  transition: all 1s;
}
.event .event-item .event-text:hover .content::after,
.event .event-item .event-text:hover .content::before {
  background-color: #001e57;
  color: #fff;
}
.event .event-item .event-text .active::after,
.event .event-item .event-text .active::before {
  background-color: #001e57 !important;
  color: #fff;
}
.event .event-item .event-text .content {
  position: relative;
}
.event .event-item .event-text .content h6 {
  position: relative;
  padding: 15px 0;
  font-weight: 700;
}
.event .event-item .event-text .content h6::after {
  content: "";
  position: absolute;
  width: 14%;
  background-color: #e11739;
  height: 1px;
  bottom: 0;
  left: 42%;
}
.event .event-item .event-text .content p {
  margin-top: 30px;
  color: #777;
}
.event .event-item .event-text .content::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: red;
  bottom: 0;
  right: 0;
  left: 0;
}
.event .event-item .event-text .content::before {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  bottom: 0;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 15px);
  background-color: #fff;
  transition: all 1s ease;
  left: 41%;
}

/* clints */
.clients {
  background-color: #fff !important;
}
.clients h2 {
  text-align: center;
  color: #e11739;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  font-family: cursive;
}
.clients .item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.clients .owl-nav {
  display: none;
}
.clients p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.clients .forms .btn {
  background-color: #e11739;
  font-size: 20px;
  font-weight: 700;
}
.clients .forms input {
  padding: 8px !important;
}
@media (max-width: 767px) {
  .clients .forms .w-75 {
    width: 100% !important;
  }
  .clients .forms .w-25 {
    width: 100% !important;
  }
}

/* ===================== contact ===============  */
.contact {
  padding: 50px 0;
}
.contact .icon {
  background-color: #e11739;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #777;
  border: 1px solid #BE2623;
  color: #fff;
}
.contact span {
  font-size: #777;
}

/* ===================== Footer ===============  */
footer {
  position: relative;
  background: url("../image//footer.jpg");
  color: #fff;
}
footer .logo {
  width: 150px;
}
footer .icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
}
footer .icon:hover {
  background-color: #e11739;
}
footer .layout {
  background-color: rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
  padding: 50px 0;
  color: #fff !important;
}
footer span {
  color: #e11739;
  font-size: 30px;
  font-weight: bold;
}
footer a {
  color: #fff !important;
  font-weight: 900;
}
footer .row-footer {
  border-bottom: 1px solid rgba(190, 38, 35, 0.2784313725);
}

/* =========== page about-us ================= */
.about-us {
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url("../image/about_us/main1.jpg");
}
.mission .container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
.mission .text {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  height: 250px;
}
.mission .text h3 {
  padding: 10px;
  color: #e11739;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.mission .text h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: rgba(225, 23, 57, 0.631372549);
  bottom: 0;
  left: 38%;
}
.mission .text p {
  line-height: 1.8;
}
.mission .image {
  height: 250px;
  overflow: hidden;
}

.services {
  text-align: center;
}
.services h2 {
  color: #e11739;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  font-family: cursive;
  margin-bottom: 30px;
  position: relative;
  padding: 20px;
  color: #e11739;
}
.services .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.services .text {
  background-color: #fff;
  padding: 100px 20px;
}
.services .text h6 {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  color: #e11739;
  font-size: 20px;
  font-family: cursive;
  font-weight: 700;
}
.services .text p {
  color: #fff;
  position: relative;
  z-index: 1;
}
.services .text i {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 30px;
}
.services .ser1,
.services .ser2,
.services .ser3 {
  position: relative;
}
.services .ser1::before,
.services .ser2::before,
.services .ser3::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #166495;
}
.services .ser1::after,
.services .ser2::after,
.services .ser3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.services .ser1:hover::after,
.services .ser2:hover::after,
.services .ser3:hover::after {
  z-index: 1;
  background-color: #0A2E47;
}
.services .ser1:hover h6,
.services .ser1 p,
.services .ser1 i,
.services .ser2:hover h6,
.services .ser2 p,
.services .ser2 i,
.services .ser3:hover h6,
.services .ser3 p,
.services .ser3 i {
  z-index: 2;
}
.services .ser2::before {
  background-color: #272727 !important;
}
.services .ser2:hover:after {
  background-color: #433127;
}
.services .ser3::before {
  background-color: #06a490 !important;
}
.services .ser3:hover:after {
  background-color: #04534A;
}

/*certificates */
.certificates {
  padding: 50px 0;
  background-color: #fff;
}
.certificates h2 {
  color: #e11739;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.certificates .cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.certificates .cards .cer1 {
  background-color: #007e9e;
}
.certificates .cards .cer2 {
  background-color: #0062ff;
}
.certificates .cards .cer3 {
  background-color: #18cd5e;
}
.certificates .cards .card {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 25%;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}
.certificates .cards .card:hover {
  transform: scale(1.2, 1.2);
}
.certificates .cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* ourteam */
.ourteam {
  background-color: #001e57;
  padding: 100px 0;
}
.ourteam h2 {
  color: #e11739;
  font-size: 30px;
  font-family: cursive;
  font-weight: 700px;
  padding-bottom: 30px;
}
.ourteam .member {
  position: relative;
  overflow: hidden;
}
.ourteam .member .image {
  position: relative;
  transition: all 1s;
}
.ourteam .member .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(13, 110, 253, 0.3411764706);
  transition: all 1s;
}
.ourteam .member i {
  position: absolute;
  top: 0;
  font-size: 30px;
  color: #777;
  transform: translate(-32px, 14px);
  z-index: 1;
  transition: all 1s;
}
.ourteam .member:hover .image::before {
  opacity: 1;
}
.ourteam .member:hover i {
  transform: translate(5px, 14px);
}

.new .forms .btn {
  background-color: #e11739;
  font-size: 20px;
  font-weight: 700;
}
.new .forms input {
  padding: 8px !important;
}
@media (max-width: 767px) {
  .new .forms .w-75 {
    width: 100% !important;
  }
  .new .forms .w-25 {
    width: 100% !important;
  }
}

/* ===================== sytem page =============== */
.sytem {
  background: url("../image/systems.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.sec-system .item {
  background-color: #F7F7F7;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  text-align: center;
}
.sec-system .item .title {
  margin: 5px 0;
}
.sec-system .item .title h3 {
  font-weight: 700;
  margin-top: 10px;
}
.sec-system .item .title p {
  color: #e11739;
  letter-spacing: 5px;
}
.sec-system .item .layout {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.8392156863);
  transition: all 0.3s ease;
  padding: 10px;
}
.sec-system .item .layout img {
  border-radius: 21px;
  margin: 15px 0;
  padding: 5px;
  height: 200px;
  width: 100%;
}
.sec-system .item:hover {
  transform: scale(1.05);
}
.sec-system .item:hover .layout {
  top: 0;
  left: 0;
  z-index: 0;
}

/* ========== Project Page =============== */
.project {
  background: url("../image/projectpage.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.sec-project .project-info {
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  min-height: 250px;
}
.sec-project .project-info .button {
  transform: translate(-50%, 125%);
  background-color: #e11739;
  transition: 0.3s ease-out;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 16px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: none;
  opacity: 0;
  width: 70%;
  bottom: 0;
  left: 50%;
}
.sec-project .project-info:hover {
  border-color: #e11739;
  box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
}
.sec-project .project-info:hover .button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.sec-project h4 {
  font-size: 20px;
}

/* ========== polivardo Page =============== */
.polivardo h1 {
  color: #e11739;
}

/* ========== event page =========== */
.events {
  background: url("../image/Eventsjpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
/* =====================imege slider project */
.bg-sec {
  background-color: #fff;
  padding: 10px;
}

.slider-img {
  width: 30%;
}
.slider-img .child {
  transition: all 1s;
}
.slider-img .child:hover {
  transform: scale(1.1);
}

.main-image {
  position: relative;
  margin-left: 20px;
  width: 60%;
}
.main-image .btns .negative,
.main-image .btns .plus {
  position: absolute;
  bottom: -50px;
  background-color: #e11739;
  border: none;
  background-color: #fff !important;
  color: #000;
}
.main-image .btns .negative {
  left: 20%;
}
.main-image .btns .plus {
  right: 20%;
}
.main-image #parent {
  border-radius: 20px;
  transition: all 1s;
}
.main-image #parent:hover {
  transform: scale(1.1);
}

/* ======================== Contacts page ============= */
.contact-us {
  background: url("../image/contact.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.sec-contact .map {
  padding: 15px;
  border-radius: 20px;
}
.sec-contact .map iframe {
  width: 100%;
  border-radius: 5px;
}
.sec-contact .form-input {
  border: 1px solid rgba(190, 38, 35, 0.1411764706);
  padding: 15px;
  border-radius: 20px;
}
.sec-contact .form-input input {
  margin: 10px 0;
  width: 48%;
  outline: none !important;
  transition: all 0.5s;
  box-shadow: none;
  border-radius: 15px;
}
.sec-contact .form-input input:focus {
  border-color: #e11739;
}
@media (max-width: 761px) {
  .sec-contact .form-input input {
    width: 100%;
  }
}
.sec-contact .form-input textarea {
  outline: none !important;
  transition: all 0.5s;
  box-shadow: none;
}
.sec-contact .form-input textarea:hover {
  border-color: #e11739;
}

/* ================= Downloads page ============== */
.sec-download {
  background: url("../image/downloads.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.download img {
  transition: all 0.5s ease-in;
}
.download img:hover {
  transform: scale(1.1) !important;
}
.download span {
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.download span:hover {
  color: #e11739;
}

/* ================= media page ============== */
.media {
  background: url("../image/media.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.sectino-media img {
  transition: all 0.5s ease-in;
}
.sectino-media img:hover {
  transform: scale(1.1) !important;
}
.sectino-media span {
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.sectino-media span:hover {
  color: #e11739;
}

.video video {
  width: 100%;
}

#madiaLayout {
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.568627451);
}

/* ===================== scrollbar ===============  */
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #e11739;
  box-shadow: 0px 0px 10px 0px rgba(238, 238, 238, 0.5490196078) inset;
  border-radius: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #e11739;
  box-shadow: 0px 0px 10px 0px rgba(238, 238, 238, 0.5490196078) inset;
  border-radius: 100vh;
}

/* ========= m *//*# sourceMappingURL=index.css.map */