/* ===================== Variable ===============  */


$section-padding: 50px;
$main-color: #e11739;
$second-color: #001e57;
$bg-section: #f2f2f2;
$bg-color: #f2f2f2;
$text-main: #777;
$font-four: 30px;
$font-p: 18px;


.layout-page {
    position: absolute;
    background-color: rgb(0 0 0 / 71%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;


    .text {

        max-width: 600px;
        background-color: #f2f2f25c;
        color: #fff;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        p {
            font-size: $font-p;
            line-height: 1.8;
            font-weight: 600;
            padding-left: 50px;
        }

        h2 {
            padding-left: 50px;
            font-size: $font-four;
        }

    }


}

.bg-nav {
    background-color: #fff !important;
}

.bg-active {
    background-color: $main-color !important;
}

.z-idx {
    z-index: 9999999999;
}

.cursor {
    cursor: pointer;
}

%icon-sec {

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $text-main;
    border: 1px solid #BE2623;

    &:hover {
        background-color: #BE2623;
        color: #fff;
    }

}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}





/* ===================== Global ===============  */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    color: $text-main;
    text-decoration: none;
    text-align: center;
    font-size: 14px;

    &:hover {
        color: #000;
    }
}

.specail_h1 {
    margin: 0;
    text-align: center;
    color: #777;
    font-weight: 200;
    font-family: cursive;
}

.bg-heaing {
    color: $main-color;
}

body {
    font-family: "Inter", sans-serif;
    // background-color: $bg-section;




}



.imgHtml {
    width: 500px;
    height: 300px;
    background-image: url(../image/port1.jpg);
    background-position: center;
    box-sizing: 100% 100%;
}

.imgHtml i {
    cursor: pointer;
}

/* =================================== Home Page ========================================================= */

/* ===================== Header ===============  */

header {
    .home {
        position: relative;

        img {
            height: 100vh !important;

            @include responsive(767px) {
                height: 60vh !important;
            }
        }

        .carousel-control-prev-icon {
            background-image: url();

        }

        .overlay {
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #00000063;
            z-index: 1;
        }

        i.fa-solid.fa-chevron-left,
        i.fa-solid.fa-chevron-right {
            background-color: #fff;
            color: #000;
            font-size: 47px;
            padding: 10px;
            border-radius: 10px;
        }

        .carousel-caption {
            bottom: 11.25rem;
            color: #fff;
            z-index: 9999;

            p {
                color: $text-main;
            }

            .btn {
                width: 150px !important;
                margin: 0 5px;
                padding: 10px !important;
                color: #fff;
                font-size: 20px;
                font-weight: bold;

                @include responsive(767px) {
                    width: 100px !important;
                    padding: 5px !important;
                }
            }

            @include responsive(991px) {
                bottom: 1.25rem;
            }

            h5 {
                font-size: 60px;
                font-weight: 900;

                @include responsive(767px) {
                    font-size: 30px;
                }

            }

            p {
                font-size: 20px;
            }




        }

    }
}


/* ===================== Navbar ===============  */

nav {
    z-index: 9999999 !important;

    .logo {
        width: 150px;
    }

    ul {
        color: #fff !important;

        @include responsive(991px) {
            background-color: #000000ed;
            padding: 20px;
            position: absolute;
            top: 68px;
            width: 100%;
            height: 100vh;
            left: 0;


        }

        li.nav-item {
            position: relative;
            text-align: left;

            a {
                background-color: #1b1c1d;
                padding: 5px;
                margin: 5px;
                color: #fff !important;
                display: block;
                border-radius: 10px;
                transition: all 0.5s ease;
                position: relative;

                @include responsive(991px) {
                    background-color: transparent !important;
                    // border-bottom: 1px solid #fff;
                    text-align: left;
                    padding-left: 30px;
                    padding-bottom: 20px;

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #BE2623;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                    }


                    &:hover {
                        margin-left: 10px !important;
                    }

                }
            }
        }

    }


    .navbar-toggler {

        color: #be2623;
    }

}




/* ===================== About ===============  */






.about {
    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;


    }



    .about-work {

        img {
            width: 100% !important;

            @include responsive(761px) {}
        }

        h3 {
            font-size: 50px;
            padding: 0 0 20px 0;
            margin-bottom: 30px;
            color: $main-color;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-color: #e117399c;
                width: 100px;
                height: 2px;
                left: 0;
                bottom: 0;
            }
        }


        p {
            line-height: 1.8;
            color: #777;
        }

        .spans {
            margin-top: 20px;
            position: relative;
            width: 111%;
            bottom: -71px;
            transition: all 1s;
            background-color: #fff;

            span {
                text-align: center;
                position: relative;
                padding: 30px;
                text-align: center;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 2px solid #e117399c;
                width: 25%;



            }

            @include responsive(991px) {
                width: 100%;
                bottom: 0;
            }
        }
    }


    .about-service {

        .element {
            h6 {
                color: #001e57;
                font-weight: 500;
                font-size: 20px;
            }

            p {
                color: #777;
            }

            position: relative;
            padding: 20px 5px;


            .overlay {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 100%;
                background-color: $main-color;
                transition: all 2s;
                opacity: 0;


            }

            &::after {
                content: "";
                position: absolute;
                height: 5px;
                background-color: red;
                bottom: 0;
                right: 0;
                left: 0;
            }

            &::before {
                content: ">";
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                font-size: 20px;
                bottom: 0;
                z-index: 1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                position: absolute;
                transform: translate(0, 15px);
                background-color: #fff;
                transition: all 1s ease;

            }

            &:hover .text,
            &:hover .icon {
                z-index: 9999;
                color: aliceblue;
            }

            &:hover::before {
                background-color: $second-color;
            }

            &:hover::after {
                background-color: $second-color;
            }

            &:hover .overlay {
                height: 100%;
                opacity: 1;

            }
        }
    }


    .about-details {
        position: relative;
        padding: 30px 0;

        .image-details {
            // background-color: #001e57;
            height: 500px;
            background: url('../image/about/about-details.jpg');
            background-size: cover;
        }
    }

    .details-text {
        padding: 30px;

        h3 {
            color: $main-color;
            font-weight: 700;
            font-size: 30px;

        }

        p {
            line-height: 40px;
            color: #777;
        }

        span {
            color: #e117399c;
        }
    }
}






/* ===================== sectio-project ===============  */



.our-projects {
    background-color: $second-color;

    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;

    }

    h2 {
        color: #fff;
        position: relative;
        width: fit-content;
        margin: 20px 0;
        font-size: 30px;
        font-weight: 700;
        font-family: cursive;

        &::after {
            content: "";
            position: absolute;
            width: 50%;
            left: 17px;
            bottom: -7px;
            height: 2px;
            background-color: #ffffff70;
        }


    }

    h6 {
        color: #fff;
        font-weight: 700;
        margin-top: 10px;
        font-weight: 700;
    }

    p {
        color: #ffffff8c;

        font-size: 14px;
    }

    a {
        color: #fff;
    }

    .back {
        font-size: 205px;
        position: absolute;
        color: rgba(108, 117, 125, 0.2784313725);
        top: -78px;
        left: -104px;

    }


    .owl-nav {
        font-size: 30px;
        position: absolute;
        top: -54px;
        right: 42px;
        color: white;


        span {
            margin-left: 20px;
            position: relative;



        }

    }


    .owl-prev {
        background-color: #e11739;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 14px;
            background-color: rgba(255, 255, 255, 0.3411764706);
            bottom: 0;
            left: 38px;
            top: 18px;
        }
    }

    .overlay {

        position: relative;
        transition: all 1s;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background-color: #e0e0e0a3;
            transition: all 1s ease;
        }

        &:hover::before {
            bottom: 0;
        }
    }


}


.order {

    width: 70%;
    margin: -50px auto;
    background-color: #272727;
    text-align: center;
    color: #fff;
    padding: 10px;

    @include responsive(767px) {
        width: 100%;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        font-family: cursive;

    }

    button {
        color: $main-color;
        font-weight: 700px;
    }

}

/* Event */
.event {
    color: #fff;

    h2 {
        text-align: center;
        color: $main-color;
        margin: 20px 0;
        font-size: 30px;
        font-weight: 700;
        font-family: cursive;
    }


    .event-item {
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        &:hover .event-text {
            transform: translatey(-40px);
        }



        img {
            transition: all 1s;
        }

        .event-text {

            // background-color: #fff;
            color: #000;
            padding: 10px;
            text-align: center;
            transform: translatey(-30px);
            transition: all 1s;

            &:hover {

                .content::after,
                .content::before {
                    background-color: $second-color;
                    color: #fff;
                }
            }

            .active::after,
            .active::before {
                background-color: #001e57 !important;
                color: #fff;
            }

            .content {
                position: relative;

                h6 {
                    position: relative;
                    padding: 15px 0;
                    font-weight: 700;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 14%;
                        background-color: #e11739;
                        height: 1px;
                        bottom: 0;
                        left: 42%;
                    }
                }

                p {
                    margin-top: 30px;
                    color: #777;
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    background-color: red;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }

                &::before {
                    content: ">";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 900;
                    font-size: 20px;
                    bottom: 0;
                    z-index: 1;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    position: absolute;
                    transform: translate(0, 15px);
                    background-color: #fff;
                    transition: all 1s ease;
                    left: 41%;
                }
            }
        }
    }

}



/* clints */
.clients {
    h2 {
        text-align: center;
        color: $main-color;
        margin: 20px 0;
        font-size: 30px;
        font-weight: 700;
        font-family: cursive;
    }

    background-color: #fff !important;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .owl-nav {
        display: none;
    }

    p {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    .forms {
        .btn {
            background-color: $main-color;
            font-size: 20px;
            font-weight: 700;
        }


        input {
            padding: 8px !important;
        }

        @include responsive(767px) {
            .w-75 {
                width: 100% !important;
            }

            .w-25 {
                width: 100% !important;
            }
        }
    }
}

/* ===================== contact ===============  */

.contact {
    padding: $section-padding 0;

    .icon {
        background-color: $main-color;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $text-main;
        border: 1px solid #BE2623;
        color: #fff;


    }

    span {
        font-size: $text-main;
    }
}


/* ===================== Footer ===============  */


footer {
    position: relative;
    background: url("../image//footer.jpg");
    color: #fff;

    .logo {
        width: 150px;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 30px;

        &:hover {
            background-color: $main-color;
        }
    }

    .layout {
        background-color: rgb(0 0 0 / 6%);
        width: 100%;
        height: 100%;
        padding: 50px 0;
        color: #fff !important;

    }

    span {
        color: $main-color;
        font-size: 30px;
        font-weight: bold;
    }

    a {
        color: #fff !important;
        // font-size: 30px;
        font-weight: 900;
    }

    .row-footer {
        border-bottom: 1px solid #be262347;

    }
}



/* =========== page about-us ================= */

.about-us {
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-image: url('../image/about_us/main1.jpg');


    .layout {
        @extend .layout-page;
    }

}

.mission {

    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;


    }


    .text {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        height: 250px;

        @include responsive(761px) {
            height: auto;
        }

        h3 {
            padding: 10px;
            color: $main-color;
            font-size: 30px;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 1px;
                background-color: #e11739a1;
                bottom: 0;
                left: 38%;



            }
        }

        p {
            line-height: 1.8;
        }
    }

    .image {
        height: 250px;
        overflow: hidden;
    }
}


.services {
    text-align: center;

    h2 {
        color: $main-color;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        font-family: cursive;
        margin-bottom: 30px;
        position: relative;
        padding: 20px;
        color: $main-color;


    }


    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .text {
        background-color: #fff;
        padding: 100px 20px;




        h6 {

            position: relative;
            z-index: 1;
            margin-top: 10px;
            color: $main-color;
            font-size: 20px;
            font-family: cursive;
            font-weight: 700;

        }

        p {
            color: #fff;
            position: relative;
            z-index: 1;

        }

        i {
            position: relative;
            z-index: 1;
            color: #fff;
            font-size: 30px;
        }
    }

    .ser1,
    .ser2,
    .ser3 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #166495;

        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }

        &:hover::after {
            z-index: 1;
            background-color: #0A2E47;

        }

        &:hover h6,
        p,
        i {
            z-index: 2;
        }


    }

    .ser2 {
        &::before {

            background-color: #272727 !important;
        }

        &:hover:after {
            background-color: #433127;


        }
    }

    .ser3 {
        &::before {

            background-color: #06a490 !important;
        }

        &:hover:after {
            background-color: #04534A;


        }
    }



}


/*certificates */

.certificates {
    padding: 50px 0;
    background-color: #fff;

    h2 {
        color: $main-color;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .cards {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .cer1 {
            background-color: #007e9e;
        }

        .cer2 {
            background-color: #0062ff;
        }

        .cer3 {
            background-color: #18cd5e;
        }

        .card {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            height: 100px;
            width: 25%;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: 400ms;

            &:hover {
                transform: scale(1.2, 1.2);

            }
        }

        &:hover>.card:not(:hover) {
            filter: blur(10px);
            transform: scale(0.9, 0.9);
        }
    }






}


/* ourteam */

.ourteam {
    background-color: $second-color;
    padding: 100px 0;

    h2 {
        color: $main-color;
        font-size: 30px;
        font-family: cursive;
        font-weight: 700px;
        padding-bottom: 30px;
    }

    .member {
        position: relative;
        overflow: hidden;

        .image {
            position: relative;
            transition: all 1s;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;

                background-color: #0d6efd57;
                transition: all 1s;

            }
        }

        i {
            position: absolute;
            top: 0;
            font-size: 30px;
            color: $text-main;
            transform: translate(-32px, 14px);
            z-index: 1;
            transition: all 1s;

        }

        &:hover .image::before {
            opacity: 1;
        }

        &:hover i {
            transform: translate(5px, 14px);
        }
    }
}

.new {
    .forms {
        .btn {
            background-color: $main-color;
            font-size: 20px;
            font-weight: 700;
        }


        input {
            padding: 8px !important;
        }

        @include responsive(767px) {
            .w-75 {
                width: 100% !important;
            }

            .w-25 {
                width: 100% !important;
            }
        }
    }

}

/* ===================== sytem page =============== */

.sytem {
    background: url("../image/systems.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page;
    }
}


.section-system {

    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;

    }

    .text-system {
        padding: 10px;
        background-color: $second-color;
        color: #fff;
        padding: 10px;

        h2 {
            font-size: 30px;
            font-weight: 7000;
            font-family: cursive;
            color: $main-color;
            position: relative;
            padding-bottom: 10px;

            &::after {
                content: "";
                background-color: #e11739;
                position: absolute;
                width: 50px;
                height: 1px;
                left: 0;
                bottom: 0;
            }
        }

        span {
            color: #777;
            font-size: 14px;
            padding-left: 5px;
        }

        p {
            line-height: 1.8;
        }
    }

    .item {
        background-color: #F7F7F7;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: all 1s ease;




        .image {
            overflow: hidden;
            position: relative;

            .layout {
                position: absolute;
                top: -100%;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: #212529d6;
                transition: all 1s ease;
                padding: 20px;


            }


        }

        .title {
            padding: 20px 0;
            position: relative;
            transition: all 1s ease;

            h6 {
                color: $main-color;
            }

            p {
                color: #777;
            }


            &::after {
                content: "";
                position: absolute;
                height: 5px;
                background-color: red;
                bottom: 0;
                right: 0;
                left: 0;
                transition: all 1s ease;

            }

            &::before {
                content: "+";
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                font-size: 20px;
                bottom: 0;
                z-index: 1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                position: absolute;
                transform: translate(0, 15px);
                background-color: #fff;
                transition: all 1s ease;
                left: 41%;
            }

        }



        &:hover .layout {
            top: 0;
            left: 0;
            z-index: 0;
        }

        &:hover .title::after {
            background-color: $second-color;
        }

        &:hover .title::before {
            background-color: $second-color;
            color: #fff;
        }




    }




}


/* ========== Project Page =============== */
.project {
    background: url("../image/projectpage.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page;
    }

}

.section-project {
    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;

    }



    @extend .event;


    aside {
        background-color: #fff !important;
        color: #000;



        .btn {
            // background-color: #f3f5f9 !important;
            border: none;
            border-bottom: 1px solid #9eaac0;
            color: $main-color;
            border-radius: 0;
            padding: 20px 10px;
            font-weight: 600;
        }

        .text {
            background-image: url('../image//projectss/aside.png');
            background-size: cover;
            background-position: center center;
            padding: 40px 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            height: 300px;
            position: relative;

            .overlay {
                position: absolute;
                background-color: #00000078;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            @include responsive(767px) {
                height: 200px;
            }

            height: 300px;
        }

        .call {
            padding: 20px;
            background-color: $second-color;
            text-align: center;

            i {
                color: $main-color;
                font-size: 30px;
                margin: 10px 0;
            }

            p,
            span {
                color: #777;
            }
        }

    }

    .main {
        .details {
            background-color: $second-color !important;
            width: 50%;

            a {
                color: #fff !important;
                font-size: 20px;
                font-family: cursive;
            }
        }

        .text {
            h6 {

                color: $main-color;
                margin: 20px 0;
                font-size: 22px;
                font-weight: 700;
                position: relative;
                padding-bottom: 10px;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    background-color: $second-color;
                    bottom: 0;
                    left: 0;
                }
            }

            p {
                color: #777;
                line-height: 1.8;
            }
        }
    }
}

/* ========== polivardo Page =============== */

.polivardo {

    h1 {
        color: $main-color;
    }
}

/* ========== event page =========== */

.events {
    background: url("../image/Eventsjpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page;
    }
}

/* =====================imege slider project */




.bg-sec {
    background-color: #fff;
    padding: 10px;
}

.slider-img {

    width: 30%;

    .child {
        transition: all 1s;

        &:hover {
            transform: scale(1.1);


        }
    }
}

.main-image {
    position: relative;
    margin-left: 20px;

    width: 60%;

    .btns {

        .negative,
        .plus {
            position: absolute;
            bottom: -50px;
            background-color: $main-color;
            border: none;
            background-color: #fff !important;
            color: #000;
        }

        .negative {
            left: 20%;
        }

        .plus {
            right: 20%;
        }

    }

    #parent {

        border-radius: 20px;
        transition: all 1s;


        &:hover {
            transform: scale(1.1);


        }

    }
}



/* ======================== Contacts page ============= */


.contact-us {
    background: url("../image/contact.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;


    .layout {
        @extend .layout-page
    }
}

.sec-contact {

    .map {
        padding: 15px;
        border-radius: 20px;

        iframe {
            width: 100%;
            border-radius: 5px;
        }
    }

    .form-input {
        border: 1px solid #be262324;
        padding: 15px;
        border-radius: 20px;

        input {
            margin: 10px 0;
            width: 48%;
            outline: none !important;
            transition: all 0.5s;
            box-shadow: none;
            border-radius: 15px;

            &:focus {
                border-color: $main-color;
            }

            @include responsive(761px) {
                width: 100%;
            }

        }

        textarea {
            outline: none !important;
            transition: all 0.5s;
            box-shadow: none;



            &:hover {
                border-color: $main-color;
            }
        }
    }
}

/* ================= Downloads page ============== */
.sec-download {
    background: url("../image/downloads.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page
    }
}

.download {

    img {
        transition: all 0.5s ease-in;

        &:hover {
            transform: scale(1.1) !important;
        }
    }

    span {
        transition: all 0.5s ease-in;
        cursor: pointer;


        &:hover {
            color: $main-color;
        }
    }
}




/* ================= media page ============== */
.media {
    background: url("../image/media.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page
    }
}

.sectino-media {

    img {
        transition: all 0.5s ease-in;

        &:hover {
            transform: scale(1.1) !important;
        }
    }

    span {
        transition: all 0.5s ease-in;
        cursor: pointer;


        &:hover {
            color: $main-color;
        }
    }
}


.video video {
    width: 100%;
}

#madiaLayout {
    z-index: 999999;
    background-color: #00000091;
}


/* ===================== scrollbar ===============  */
::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}




/* ========= m */