@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
/* ===================== Variable ===============  */
.layout-page, .contact-us .layout, .media .layout, .sec-download .layout, .events .layout, .project .layout, .sytem .layout, .about-us .layout {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.71);
}
.layout-page .text, .contact-us .layout .text, .media .layout .text, .sec-download .layout .text, .events .layout .text, .project .layout .text, .sytem .layout .text, .about-us .layout .text {
  color: #fff;
  max-width: 600px;
  border-top-right-radius: 30px;
  background-color: rgba(242, 242, 242, 0.3607843137);
  border-bottom-right-radius: 30px;
}
.layout-page .text p, .contact-us .layout .text p, .media .layout .text p, .sec-download .layout .text p, .events .layout .text p, .project .layout .text p, .sytem .layout .text p, .about-us .layout .text p {
  line-height: 1.8;
  font-weight: 600;
  padding-left: 50px;
}
.layout-page .text h2, .contact-us .layout .text h2, .media .layout .text h2, .sec-download .layout .text h2, .events .layout .text h2, .project .layout .text h2, .sytem .layout .text h2, .about-us .layout .text h2 {
  padding-left: 50px;
}

.bg-nav {
  background-color: #fff !important;
}

.bg-active {
  background-color: #e11739 !important;
}

.z-idx {
  z-index: 9999999999;
}

.cursor {
  cursor: pointer;
}

/* ===================== Global ===============  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
a:hover {
  color: #000;
}

.specail_h1 {
  margin: 0;
  color: #777;
  font-weight: 200;
  text-align: center;
}

.bg-heaing {
  color: #e11739;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
}

.imgHtml {
  width: 500px;
  height: 300px;
  box-sizing: 100% 100%;
  background-position: center;
  background-image: url(../image/port1.jpg);
}

.imgHtml i {
  cursor: pointer;
}

/* =============== Navbar ===============  */
nav {
  z-index: 9999999 !important;
  /* Ul */
}
nav .logo {
  width: 150px;
}
nav ul {
  color: #fff !important;
  /* Links */
}
@media (max-width: 991px) {
  nav ul {
    left: 0;
    top: 68px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: absolute;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.9294117647);
  }
}
nav ul li.nav-item {
  text-align: left;
  position: relative;
}
nav ul li.nav-item a {
  padding: 5px;
  margin: 5px;
  display: block;
  position: relative;
  border-radius: 10px;
  color: #fff !important;
  transition: all 0.5s ease;
  background-color: #1b1c1d;
}
@media (max-width: 991px) {
  nav ul li.nav-item a {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: transparent !important;
  }
  nav ul li.nav-item a::after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    position: absolute;
    background-color: #F7F7F7;
  }
  nav ul li.nav-item a:hover {
    margin-left: 10px !important;
  }
}
nav .navbar-toggler {
  color: #e11739;
}

/* =================================== Home Page ========================================================= */
/* ************* Header *************  */
header .home {
  position: relative;
  /* carousel */
}
@media (max-width: 767px) {
  header .home img {
    height: 60vh !important;
  }
}
header .home .carousel-control-prev-icon {
  background-image: url();
}
header .home .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.61);
}
header .home .carousel-caption {
  z-index: 9999;
  bottom: 40%;
  /* Btn */
}
header .home .carousel-caption .more,
header .home .carousel-caption .our-solutions {
  width: 150px;
  border: none;
  font-size: 18px;
  padding: 10px 5px;
  transition: all 1s;
  border-radius: 5px;
  margin: 0 5px;
}
@media (max-width: 551px) {
  header .home .carousel-caption .more,
  header .home .carousel-caption .our-solutions {
    width: 100px;
    font-size: 10px;
  }
}
header .home .carousel-caption .more {
  color: #fff;
  background-color: #212529;
}
header .home .carousel-caption .more:hover {
  color: #000;
  background-color: #fff;
}
header .home .carousel-caption .our-solutions {
  background-color: #fff;
  color: #e11739 !important;
}
header .home .carousel-caption .our-solutions:hover {
  color: #fff !important;
  background-color: #e11739;
}
@media (max-width: 1024px) {
  header .home .carousel-caption {
    bottom: 10%;
  }
}
header .home .carousel-caption h5 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 767px) {
  header .home .carousel-caption h5 {
    font-size: 30px;
  }
}
header .home .carousel-caption p {
  font-size: 16px;
  color: #fff;
}
header .home .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #e11739;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* ************* About *************  */
.about .container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
.about .about-work span {
  color: #777;
}
.about .about-work img {
  border-radius: 15px;
  transition: all 0.5s;
  width: 100% !important;
  margin-top: 50px !important;
}
.about .about-work img:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
.about .about-work h3 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  color: #e11739;
  padding: 0 0 20px 0;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .about .about-work h3 {
    font-size: 30px;
  }
}
.about .about-work h3::after {
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100px;
  position: absolute;
  background-color: rgba(225, 23, 57, 0.6117647059);
}
.about .about-work p {
  line-height: 1.8;
  color: #777;
}
.about .about-work .spans {
  width: 111%;
  bottom: -71px;
  margin-top: 20px;
  transition: all 1s;
  position: relative;
  background-color: #fff;
}
.about .about-work .spans .item {
  width: 25%;
  display: flex;
  padding: 20px;
  color: #000;
  display: block;
  font-weight: 600;
  text-align: center;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgba(225, 23, 57, 0.6117647059);
}
@media (max-width: 767px) {
  .about .about-work .spans .item {
    padding: 15px;
  }
}
@media (max-width: 991px) {
  .about .about-work .spans {
    bottom: 0;
    width: 100%;
  }
}

.detalis .about-details {
  padding: 100px 0;
}
.detalis .about-details .image {
  overflow: hidden;
  text-align: center;
  border-radius: 15px;
}
.detalis .about-details .image img {
  border-radius: 15px;
  transition: all 0.5s;
  width: 450px !important;
}
.detalis .about-details .image img:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
.detalis .details-text {
  padding: 30px;
}
.detalis .details-text h3 {
  color: #e11739;
  font-weight: 700;
  font-size: 30px;
}
.detalis .details-text p {
  line-height: 40px;
  color: #777;
}
.detalis .details-text span {
  color: rgba(225, 23, 57, 0.6117647059);
}

/* ************* Ser..Home ************* */
.ser {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 30, 87, 0.1411764706);
  background-image: url("../image/wave.svg");
}
.ser .about-service {
  padding: 100px 0;
}
.ser .about-service .element {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}
.ser .about-service .element h6 {
  font-size: 20px;
  font-weight: 600;
  color: #001e57;
}
.ser .about-service .element .overlay {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  background-color: #000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.ser .about-service .element::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 5px;
  position: absolute;
  background-color: #e11739;
}
.ser .about-service .element::before {
  bottom: 0;
  width: 40px;
  z-index: 1;
  content: ">";
  height: 40px;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  background-color: #fff;
  transition: all 1s ease;
  justify-content: center;
  transform: translate(0, 15px);
}
.ser .about-service .element:hover .text, .ser .about-service .element:hover .icon, .ser .about-service .element:hover h6 {
  z-index: 999999;
  transition: all 0.5s;
  color: #fff !important;
}
.ser .about-service .element:hover::before {
  background-color: #001e57;
}
.ser .about-service .element:hover::after {
  background-color: #001e57;
}
.ser .about-service .element:hover .overlay {
  opacity: 1;
  height: 100%;
}

/* ************* sectio-project *************  */
.our-projects {
  background-color: #001e57;
}
.our-projects .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
}
.our-projects h2 {
  color: #fff;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: cursive;
}
.our-projects h2::after {
  left: 17px;
  width: 50%;
  height: 2px;
  content: "";
  bottom: -7px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4392156863);
}
.our-projects h6 {
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  font-weight: 700;
}
.our-projects p {
  color: #777;
  font-size: 14px;
}
.our-projects a {
  color: #fff;
}
.our-projects .back {
  top: -78px;
  left: -104px;
  font-size: 205px;
  position: absolute;
  color: rgba(108, 117, 125, 0.2784313725);
}
.our-projects img {
  border-radius: 10px;
  transition: all 0.5s ease;
}
.our-projects .owl-nav {
  top: -54px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  position: absolute;
}
.our-projects .owl-nav span {
  margin-left: 20px;
  position: relative;
}
.our-projects .owl-prev {
  position: relative;
  background-color: #e11739;
}
.our-projects .owl-prev::after {
  top: 18px;
  bottom: 0;
  width: 1px;
  left: 38px;
  content: "";
  height: 14px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3411764706);
}
.our-projects .overlay {
  position: relative;
  transition: all 1s;
  overflow: hidden;
}
.our-projects .overlay::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  position: absolute;
  border-radius: 10px;
  transition: all 0.5s ease;
  background-color: rgba(224, 224, 224, 0.6392156863);
}
.our-projects .overlay:hover::before {
  opacity: 1;
  transition: all 0.5s ease;
}

.order {
  width: 70%;
  color: #fff;
  padding: 10px;
  margin: -50px auto;
  text-align: center;
  background-color: #272727;
}
@media (max-width: 767px) {
  .order {
    width: 100%;
  }
}
.order h2 {
  font-size: 30px;
  font-weight: 700;
}
.order button {
  color: #e11739;
  font-weight: 700px;
}

/*========= Event ========== */
.event h2, .section-project h2 {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #e11739;
}
.event .event-item, .section-project .event-item {
  overflow: hidden;
}
.event .event-item img, .section-project .event-item img {
  transition: all 1s;
}
.event .event-item:hover img, .section-project .event-item:hover img {
  transform: scale(1.1);
}
.event .event-item:hover .event-text, .section-project .event-item:hover .event-text {
  transform: translatey(-40px);
}
.event .event-item .event-text, .section-project .event-item .event-text {
  color: #000;
  padding: 10px;
  text-align: center;
  transition: all 1s;
  transform: translatey(-30px);
}
.event .event-item .event-text:hover .content::after, .section-project .event-item .event-text:hover .content::after,
.event .event-item .event-text:hover .content::before,
.section-project .event-item .event-text:hover .content::before {
  color: #fff;
  background-color: #001e57;
}
.event .event-item .event-text .active::after, .section-project .event-item .event-text .active::after,
.event .event-item .event-text .active::before,
.section-project .event-item .event-text .active::before {
  color: #fff;
  background-color: #001e57 !important;
}
.event .event-item .event-text .content, .section-project .event-item .event-text .content {
  position: relative;
}
.event .event-item .event-text .content h6, .section-project .event-item .event-text .content h6 {
  padding: 15px 0;
  font-weight: 700;
  position: relative;
}
.event .event-item .event-text .content h6::after, .section-project .event-item .event-text .content h6::after {
  left: 42%;
  bottom: 0;
  width: 14%;
  content: "";
  height: 1px;
  position: absolute;
  background-color: #e11739;
}
.event .event-item .event-text .content p, .section-project .event-item .event-text .content p {
  margin-top: 30px;
  color: #777;
}
.event .event-item .event-text .content::after, .section-project .event-item .event-text .content::after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #e11739;
}
.event .event-item .event-text .content::before, .section-project .event-item .event-text .content::before {
  left: 41%;
  bottom: 0;
  z-index: 1;
  width: 40px;
  content: ">";
  height: 40px;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  transition: all 1s ease;
  justify-content: center;
  background-color: #fff;
  transform: translate(0, 15px);
}

/* ========== clints ========== */
.clients {
  background-color: #fff !important;
}
.clients h2 {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  color: #e11739;
  text-align: center;
}
.clients .item {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.clients .owl-nav {
  display: none;
}
.clients p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.clients .forms {
  width: 90%;
  margin: auto;
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #272727;
}
@media (max-width: 767px) {
  .clients .forms {
    width: 100%;
  }
}
.clients .forms p {
  color: #fff;
}
@media (max-width: 767px) {
  .clients .forms p {
    font-size: 15px;
  }
}
.clients .forms .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients .forms .inputs input {
  width: 60%;
  border: none;
  box-shadow: none;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .clients .forms .inputs input {
    width: 100%;
    margin: 0;
  }
}
.clients .forms .inputs .btn {
  width: 20%;
}
@media (max-width: 767px) {
  .clients .forms .inputs .btn {
    width: 100%;
    margin-top: 10px;
  }
}

/* ===================== contact ===============  */
.contact .icon {
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e11739;
  justify-content: center;
  background-color: #e11739;
}

/* =================================== page about-us =================================== */
.about-us {
  width: 100%;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background-image: url("../image/about_us/pexels-zukiman-mohamad-190417.jpg");
}
.mission {
  padding: 120px 0 0 0;
}
.mission .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
}
.mission .text {
  padding: 20px;
  height: 250px;
  text-align: center;
  background-color: #fff;
}
@media (max-width: 761px) {
  .mission .text {
    height: auto;
  }
}
.mission .text h3 {
  padding: 10px;
  color: #e11739;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.mission .text h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: rgba(225, 23, 57, 0.631372549);
  bottom: 0;
  left: 38%;
}
.mission .text p {
  line-height: 1.8;
}
.mission .image {
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
}
.mission .image img {
  transition: all 0.5s;
  border-radius: 15px;
}
.mission .image:hover img {
  transition: all 0.5s;
  transform: scale(1.2);
}

.services {
  padding: 60px 0 100px 0;
}
.services h2 {
  color: #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #e11739;
  color: #e11739;
  text-align: center;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.services .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.services .text {
  padding: 100px 20px;
  background-color: #fff;
}
.services .text h6 {
  z-index: 1;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  position: relative;
  color: #e11739;
}
.services .text p {
  z-index: 1;
  color: #fff;
  position: relative;
}
.services .text i {
  z-index: 1;
  color: #fff;
  font-size: 30px;
  position: relative;
}
.services .ser1,
.services .ser2,
.services .ser3 {
  position: relative;
}
.services .ser1::before,
.services .ser2::before,
.services .ser3::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  background-color: #166495;
}
.services .ser1::after,
.services .ser2::after,
.services .ser3::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  position: absolute;
}
.services .ser1:hover::after,
.services .ser2:hover::after,
.services .ser3:hover::after {
  z-index: 1;
  background-color: #0A2E47;
}
.services .ser1:hover h6,
.services .ser1 p,
.services .ser1 i,
.services .ser2:hover h6,
.services .ser2 p,
.services .ser2 i,
.services .ser3:hover h6,
.services .ser3 p,
.services .ser3 i {
  z-index: 2;
}
.services .ser2::before {
  background-color: #272727 !important;
}
.services .ser2:hover:after {
  background-color: #433127;
}
.services .ser3::before {
  background-color: #06a490 !important;
}
.services .ser3:hover:after {
  background-color: #04534A;
}

/* ========= certificates ========= */
.certificates {
  padding: 100px 0;
  background-color: #fff;
}
.certificates h2 {
  font-size: 30px;
  font-weight: 700;
  color: #e11739;
  text-align: center;
  letter-spacing: 3px;
}
.certificates .cards {
  gap: 15px;
  display: flex;
  flex-direction: row;
}
.certificates .cards .cer1 {
  background-color: #007e9e;
}
.certificates .cards .cer2 {
  background-color: #0062ff;
}
.certificates .cards .cer3 {
  background-color: #18cd5e;
}
.certificates .cards .card {
  width: 25%;
  margin: auto;
  display: flex;
  height: 100px;
  color: #fff;
  cursor: pointer;
  transition: 400ms;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.certificates .cards .card:hover {
  transform: scale(1.2, 1.2);
}
.certificates .cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* ourteam */
.ourteam {
  margin-bottom: 160px !important;
  padding: 100px 0;
  background-color: #001e57;
}
.ourteam h2 {
  font-size: 30px;
  color: #e11739;
  font-weight: 700px;
  padding-bottom: 30px;
}
.ourteam .member {
  position: relative;
  overflow: hidden;
}
.ourteam .member .image {
  position: relative;
  border-radius: 15px;
  transition: all 0.5s;
}
.ourteam .member .image img {
  transition: all 0.5s;
  border-radius: 15px;
}
.ourteam .member .image::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  position: absolute;
  border-radius: 15px;
  transition: all 0.5ss;
  background-color: rgba(13, 110, 253, 0.3411764706);
}
.ourteam .member i {
  top: 0;
  z-index: 1;
  font-size: 30px;
  position: absolute;
  transition: all 0.5s;
  transform: translate(-32px, 14px);
}
.ourteam .member:hover .image::before {
  transition: all 0.5s;
  opacity: 1;
}
.ourteam .member:hover i {
  transition: all 0.5s;
  transform: translate(5px, 14px);
}

/* =================================== sytem page =================================== */
.sytem {
  background: url("../image/system/main.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.section-system .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
}
.section-system .text-system {
  color: #fff;
  padding: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #001e57;
}
.section-system .text-system h2 {
  font-size: 30px;
  font-weight: 7000;
  color: #e11739;
  position: relative;
  padding-bottom: 10px;
}
.section-system .text-system h2::after {
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #e11739;
}
.section-system .text-system span {
  color: #777;
  font-size: 14px;
  padding-left: 5px;
}
.section-system .text-system p {
  line-height: 1.8;
}
.section-system .item {
  transition: all 1s ease;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.section-system .item .image {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
.section-system .item .image .layout {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  transition: all 0.5s ease;
  background-color: rgba(33, 37, 41, 0.8392156863);
}
.section-system .item .title {
  padding: 20px 0;
  position: relative;
  transition: all 1s ease;
}
.section-system .item .title h6 {
  color: #e11739;
}
.section-system .item .title p {
  color: #777;
}
.section-system .item .title::after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  content: "";
  position: absolute;
  transition: all 1s ease;
  background-color: #e11739;
}
.section-system .item .title::before {
  left: 41%;
  bottom: 0;
  z-index: 1;
  width: 40px;
  content: "+";
  height: 40px;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  transition: all 1s ease;
  justify-content: center;
  background-color: #fff;
  transform: translate(0, 15px);
}
.section-system .item:hover .layout {
  top: 0;
  left: 0;
  z-index: 0;
}
.section-system .item:hover .title::after {
  background-color: #001e57;
}
.section-system .item:hover .title::before {
  background-color: #001e57;
  color: #fff;
}

/* =================================== Project Page =================================== */
.project {
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background: url("../image/projectss/main.jpg");
}
.section-project {
  padding: 100px 0;
}
.section-project .container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
.section-project aside {
  border-radius: 15px;
}
.section-project aside .btn:first-child {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
.section-project aside .btn {
  border: none;
  border-radius: 0;
  font-weight: 600;
  padding: 20px 10px;
  color: #e11739;
  border-bottom: 1px solid #9eaac0;
}
.section-project aside .text {
  color: #fff;
  height: 300px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  padding: 40px 20px;
  background-size: cover;
  background-position: center center;
  background-image: url("../image//projectss/aside.png");
  height: 300px;
}
.section-project aside .text .title {
  text-align: center;
  width: 300px !important;
}
.section-project aside .text .title button {
  border-radius: 10px;
  transition: all 0.5s;
}
.section-project aside .text .title button:hover {
  transition: all 0.5s;
  background-color: #fff;
}
.section-project aside .text .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4705882353);
}
@media (max-width: 767px) {
  .section-project aside .text {
    height: 200px;
  }
}
.section-project aside .call {
  padding: 20px;
  text-align: center;
  background-color: #001e57;
}
.section-project aside .call i {
  margin: 10px 0;
  font-size: 30px;
  color: #e11739;
}
.section-project aside .call p,
.section-project aside .call span {
  color: #fff;
}
.section-project .main .image img {
  border-radius: 15px;
}
.section-project .main .text h6 {
  font-size: 22px;
  font-weight: 700;
  position: relative;
  color: #e11739;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin: 30px 0 20px 0;
}
.section-project .main .text h6::after {
  left: 0;
  bottom: 0;
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  background-color: #001e57;
}
.section-project .main .text p {
  color: #777;
  line-height: 1.8;
}
.section-project .details {
  width: 50%;
  transition: all 0.5s;
  background-color: #001e57 !important;
}
.section-project .details a {
  font-size: 20px;
  font-family: cursive;
  color: #fff !important;
}
.section-project .details:hover {
  transition: all 0.5s;
  border: 1px solid #e11739;
  background-color: #fff !important;
}
.section-project .details:hover a {
  color: #e11739 !important;
}

/* ===================================  project-id =================================== */
.project-id .imagee {
  position: relative;
  padding-bottom: 20px;
}
.project-id .imagee::after {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  content: "";
  position: absolute;
  background-color: #e11739;
}
.project-id .imagee::before {
  left: 0;
  z-index: 1;
  width: 30px;
  content: ">";
  height: 30px;
  bottom: -13px;
  display: flex;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  background-color: #001e57;
  justify-content: center;
}
.project-id .imagee img {
  transition: all 0.5s;
  border-radius: 13px;
}
.project-id .imagee img:hover {
  transform: scale(1.1);
}
.project-id a {
  color: #e11739 !important;
}

.polivardo h1 {
  color: #e11739;
}

/* =================================== event page =================================== */
.events {
  width: 100%;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background: url("../image/events/main.jpg");
}
/* =================================== Downloads page =================================== */
.sec-download {
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background: url("../image/dwounload/main.jpg");
}
/* =================================== Media page =================================== */
.media {
  background: url("../image/media.jpg");
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.bg-btn-media {
  color: #fff;
  transition: all 0.5s;
  width: 200px !important;
  background-color: #001e57 !important;
}
.bg-btn-media:hover {
  transition: all 0.5s;
  color: #e11739;
  background-color: #fff !important;
  border: 1px solid #e11739;
}

.sectino-media img {
  transition: all 0.5s ease-in;
}
.sectino-media img:hover {
  transform: scale(1.1) !important;
}
.sectino-media span {
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.sectino-media span:hover {
  color: #e11739;
}

.video video {
  width: 100%;
}

#madiaLayout {
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.568627451);
}

/* =================================== Contacts page =================================== */
.contact-us {
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background: url("../image/contact/main.jpg");
}
.contacts .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
}
.contacts h2 {
  font-size: 30px;
  font-weight: 700;
  color: #e11739;
}
.contacts .contact-details {
  color: #fff;
  padding: 50px 20px;
  border-radius: 15px;
  background-color: #272727;
}
.contacts .contact-details h2 {
  color: #fff;
}
.contacts .contact-details span {
  font-size: 12px;
}
.contacts .contact-details i {
  font-size: 25px;
}
.contacts .contact-details .social {
  margin-top: 20px;
}
.contacts .contact-details .social i {
  padding: 7px;
  margin-left: 18px;
  border-radius: 5px;
  transition: all 0.5s;
  border: 1px solid #fff;
}
.contacts .contact-details .social i:hover {
  color: #e11739;
  transition: all 0.5s;
  background-color: #fff;
}
.contacts .send-message h2 {
  font-size: 30px;
  padding: 10px 0;
  font-weight: 800;
  position: relative;
  margin: 0 0 20px 0;
  color: #001e57;
}
.contacts .send-message h2::after {
  left: 0;
  bottom: 0;
  height: 1px;
  content: "";
  width: 100px;
  position: absolute;
  background-color: #001e57;
}
.contacts .send-message input {
  width: 48%;
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 667px) {
  .contacts .send-message input {
    width: 100%;
    margin: 10px 0;
  }
}
.contacts .send-message input:focus {
  outline: none;
  border: 1px solid #e11739;
}
.contacts .send-message textarea {
  width: 97%;
  border: none;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.0784313725);
}
.contacts .send-message textarea:focus {
  outline: none;
  border: 1px solid #e11739;
}
.contacts .send-message .btn {
  width: 150px;
  color: #fff;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.5s;
  background-color: #001e57;
}
.contacts .send-message .btn:hover {
  color: #e11739;
  transition: all 0.5s;
  background-color: #fff;
  border: 1px solid #e11739;
}
.contacts .map {
  padding: 15px;
  border-radius: 20px;
}
.contacts .map iframe {
  width: 100%;
  border-radius: 5px;
}

/* **********  Main Contacts  ********** */
.contacts-home {
  padding: 30px 0;
  background-color: rgba(0, 30, 87, 0.1411764706);
}
.contacts-home .item {
  display: flex;
  margin: 10px 0;
  align-items: center;
}
.contacts-home .item p {
  margin: 0;
}
.contacts-home .item .icon {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 26px;
  background-color: #e11739;
  border: 1px solid #e11739;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 10px;
}

/* =================================== Footer ===================================  */
footer {
  overflow: hidden;
  position: relative;
  padding: 60px 0 0 0;
  background-color: rgba(0, 0, 0, 0.8784313725);
}
footer p {
  color: #fff;
}
footer .logo {
  width: 100px;
}
footer .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
}
footer .icon:hover {
  background-color: #e11739;
}
footer span {
  font-size: 20px;
  font-weight: bold;
  color: #e11739;
}
footer a {
  font-weight: 700;
  color: #fff !important;
}
footer .copy {
  padding: 30px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.1607843137);
}
footer .copy p {
  margin: 0;
}

/* ===================== scrollbar ===============  */
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #e11739;
  box-shadow: 0px 0px 10px 0px rgba(238, 238, 238, 0.5490196078) inset;
  border-radius: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #e11739;
  box-shadow: 0px 0px 10px 0px rgba(238, 238, 238, 0.5490196078) inset;
  border-radius: 100vh;
}/*# sourceMappingURL=index.css.map */