@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

/* ===================== Variable ===============  */

$light: #fff;
$black: #000;
$span-color: #777;
$main-color: #e11739;
$second-color: #001e57;
$opacity-black: #000000b3;
$shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;




.layout-page {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: start;
    background-color: rgb(0 0 0 / 71%);


    .text {

        color: #fff;
        max-width: 600px;
        border-top-right-radius: 30px;
        background-color: #f2f2f25c;
        border-bottom-right-radius: 30px;

        p {
            line-height: 1.8;
            font-weight: 600;
            padding-left: 50px;
        }

        h2 {
            padding-left: 50px;
        }

    }


}

.bg-nav {
    background-color: #fff !important;
}

.bg-active {
    background-color: $main-color !important;
}

.z-idx {
    z-index: 9999999999;
}

.cursor {
    cursor: pointer;
}

%icon-sec {

    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #BE2623;

    &:hover {
        background-color: #BE2623;
        color: #fff;
    }

}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}


/* ===================== Global ===============  */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    text-align: center;
    font-size: 14px;

    &:hover {
        color: #000;
    }
}

.specail_h1 {
    margin: 0;
    color: $span-color;
    font-weight: 200;
    text-align: center;
}

.bg-heaing {
    color: $main-color;
}

body {
    font-family: "Roboto", "Open Sans", sans-serif;
}



.imgHtml {
    width: 500px;
    height: 300px;
    box-sizing: 100% 100%;
    background-position: center;
    background-image: url(../image/port1.jpg);
}

.imgHtml i {
    cursor: pointer;
}


/* =============== Navbar ===============  */

nav {
    z-index: 9999999 !important;

    .logo {
        width: 150px;
    }

    /* Ul */
    ul {
        color: $light !important;

        @include responsive(991px) {
            left: 0;
            top: 68px;
            width: 100%;
            height: 100vh;
            padding: 20px;
            position: absolute;
            transition: all 0.5s;
            background-color: #000000ed;
        }


        /* Links */
        li.nav-item {
            text-align: left;
            position: relative;

            a {
                padding: 5px;
                margin: 5px;
                display: block;
                position: relative;
                border-radius: 10px;
                color: $light !important;
                transition: all 0.5s ease;
                background-color: #1b1c1d;

                @include responsive(991px) {
                    text-align: left;
                    padding-left: 30px;
                    padding-bottom: 20px;
                    background-color: transparent !important;

                    &::after {
                        content: "";
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        position: absolute;
                        background-color: #F7F7F7;
                    }

                    &:hover {
                        margin-left: 10px !important;
                    }

                }
            }
        }

    }

    .navbar-toggler {
        color: $main-color;
    }

}


/* =================================== Home Page ========================================================= */

/* ************* Header *************  */

header {
    .home {
        position: relative;

        img {
            @include responsive(767px) {
                height: 60vh !important;
            }
        }



        /* carousel */
        .carousel-control-prev-icon {
            background-image: url();
        }

        .overlay {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgb(0 0 0 / 61%);
        }


        .carousel-caption {
            z-index: 9999;
            bottom: 40%;

            /* Btn */
            .more,
            .our-solutions {
                width: 150px;
                border: none;
                font-size: 18px;
                padding: 10px 5px;
                transition: all 1s;
                border-radius: 5px;
                margin: 0 5px;

                @include responsive(551px) {
                    width: 100px;
                    font-size: 10px;
                }

            }

            .more {
                color: $light;
                background-color: #212529;

                &:hover {
                    color: #000;
                    background-color: $light;
                }

            }

            .our-solutions {
                background-color: #fff;
                color: $main-color !important;

                &:hover {
                    color: #fff !important;
                    background-color: $main-color;
                }

            }



            @include responsive(1024px) {
                bottom: 10%;
            }

            h5 {
                color: $light;
                font-size: 40px;
                font-weight: 700;

                @include responsive(767px) {
                    font-size: 30px;
                }

            }

            p {
                font-size: 16px;
                color: $light;
            }



        }

        .carousel-dark .carousel-indicators [data-bs-target] {
            background-color: $main-color;
            height: 20px;
            width: 20px;
            border-radius: 50%;

        }

    }
}

/* ************* About *************  */


.about {
    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;

    }


    .about-work {
        span {
            color: $span-color;
        }

        img {
            border-radius: 15px;
            transition: all 0.5s;
            width: 100% !important;
            margin-top: 50px !important;


            &:hover {
                transition: all 0.5s;
                transform: scale(1.2);
            }


        }

        h3 {
            font-size: 40px;
            font-weight: 700;
            position: relative;
            color: $main-color;
            padding: 0 0 20px 0;
            margin-bottom: 30px;

            @include responsive(767px) {
                font-size: 30px;
            }

            &::after {
                content: "";
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100px;
                position: absolute;
                background-color: #e117399c;
            }
        }


        p {
            line-height: 1.8;
            color: $span-color;
        }

        .spans {
            width: 111%;
            bottom: -71px;
            margin-top: 20px;
            transition: all 1s;
            position: relative;
            background-color: $light;


            .item {
                width: 25%;
                display: flex;
                padding: 20px;
                color: $black;
                display: block;
                font-weight: 600;
                text-align: center;
                position: relative;
                text-align: center;
                align-items: center;
                justify-content: center;
                border-right: 2px solid #e117399c;

                @include responsive(767px) {
                    padding: 15px;
                }




            }

            @include responsive(991px) {
                bottom: 0;
                width: 100%;
            }
        }
    }






}

.detalis {
    .about-details {
        padding: 100px 0;

        .image {
            overflow: hidden;
            text-align: center;
            border-radius: 15px;


            img {
                border-radius: 15px;
                transition: all 0.5s;
                width: 450px !important;

                &:hover {
                    transition: all 0.5s;
                    transform: scale(1.2);
                }
            }
        }
    }

    .details-text {
        padding: 30px;

        h3 {
            color: $main-color;
            font-weight: 700;
            font-size: 30px;

        }

        p {
            line-height: 40px;
            color: $span-color;
        }

        span {
            color: #e117399c;
        }
    }
}

/* ************* Ser..Home ************* */

.ser {
    background-size: cover;
    background-position: center;
    background-color: #001e5724;
    background-image: url('../image/wave.svg');

    .about-service {

        padding: 100px 0;

        .element {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;

            h6 {
                font-size: 20px;
                font-weight: 600;
                color: $second-color;
            }



            position: relative;


            .overlay {
                top: 0;
                left: 0;
                right: 0;
                opacity: 0;
                content: "";
                height: 100%;
                position: absolute;
                transition: all 0.5s;
                background-color: #000;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;


            }

            &::after {
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                height: 5px;
                position: absolute;
                background-color: $main-color;
            }

            &::before {
                bottom: 0;
                width: 40px;
                z-index: 1;
                content: ">";
                height: 40px;
                display: flex;
                font-size: 20px;
                font-weight: 900;
                border-radius: 50%;
                position: absolute;
                align-items: center;
                background-color: #fff;
                transition: all 1s ease;
                justify-content: center;
                transform: translate(0, 15px);

            }

            &:hover .text,
            &:hover .icon,
            &:hover h6 {
                z-index: 999999;
                transition: all 0.5s;
                color: #fff !important;
            }

            &:hover::before {
                background-color: $second-color;
            }

            &:hover::after {
                background-color: $second-color;
            }

            &:hover .overlay {
                opacity: 1;
                height: 100%;

            }
        }
    }

}


/* ************* sectio-project *************  */

.our-projects {
    background-color: $second-color;

    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1210px;

    }

    h2 {
        color: $light;
        margin: 20px 0;
        font-size: 30px;
        font-weight: 700;
        position: relative;
        width: fit-content;
        font-family: cursive;

        &::after {
            left: 17px;
            width: 50%;
            height: 2px;
            content: "";
            bottom: -7px;
            position: absolute;
            background-color: #ffffff70;
        }


    }

    h6 {
        color: #fff;
        font-weight: 700;
        margin-top: 10px;
        font-weight: 700;
    }

    p {
        color: $span-color;
        font-size: 14px;
    }

    a {
        color: $light;
    }

    .back {
        top: -78px;
        left: -104px;
        font-size: 205px;
        position: absolute;
        color: rgba(108, 117, 125, 0.2784313725);

    }

    img {
        border-radius: 10px;
        transition: all 0.5s ease;

    }

    .owl-nav {
        top: -54px;
        right: 10px;
        color: $light;
        font-size: 30px;
        position: absolute;


        span {
            margin-left: 20px;
            position: relative;

        }

    }


    .owl-prev {
        position: relative;
        background-color: #e11739;

        &::after {
            top: 18px;
            bottom: 0;
            width: 1px;
            left: 38px;
            content: "";
            height: 14px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.3411764706);
        }
    }

    .overlay {
        position: relative;
        transition: all 1s;
        overflow: hidden;

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            content: "";
            position: absolute;
            border-radius: 10px;
            transition: all 0.5s ease;
            background-color: #e0e0e0a3;
        }



        &:hover::before {
            opacity: 1;
            transition: all 0.5s ease;


        }

    }

}


.order {

    width: 70%;
    color: $light;
    padding: 10px;
    margin: -50px auto;
    text-align: center;
    background-color: #272727;

    @include responsive(767px) {
        width: 100%;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
    }

    button {
        color: $main-color;
        font-weight: 700px;
    }

}

/*========= Event ========== */
.event {

    h2 {
        margin: 20px 0;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: $main-color;
    }


    .event-item {
        overflow: hidden;

        img {
            transition: all 1s;
        }

        &:hover img {
            transform: scale(1.1);
        }

        &:hover .event-text {
            transform: translatey(-40px);
        }



        .event-text {
            color: $black;
            padding: 10px;
            text-align: center;
            transition: all 1s;
            transform: translatey(-30px);

            &:hover {

                .content::after,
                .content::before {
                    color: $light;
                    background-color: $second-color;
                }
            }

            .active::after,
            .active::before {
                color: $light;
                background-color: $second-color !important;
            }

            .content {
                position: relative;

                h6 {
                    padding: 15px 0;
                    font-weight: 700;
                    position: relative;

                    &::after {
                        left: 42%;
                        bottom: 0;
                        width: 14%;
                        content: "";
                        height: 1px;
                        position: absolute;
                        background-color: $main-color;
                    }
                }

                p {
                    margin-top: 30px;
                    color: $span-color;
                }

                &::after {
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 5px;
                    content: "";
                    position: absolute;
                    background-color: $main-color;
                }

                &::before {
                    left: 41%;
                    bottom: 0;
                    z-index: 1;
                    width: 40px;
                    content: ">";
                    height: 40px;
                    display: flex;
                    font-size: 20px;
                    font-weight: 900;
                    border-radius: 50%;
                    position: absolute;
                    align-items: center;
                    transition: all 1s ease;
                    justify-content: center;
                    background-color: $light;
                    transform: translate(0, 15px);
                }
            }
        }
    }

}



/* ========== clints ========== */
.clients {
    background-color: $light !important;

    h2 {
        margin: 20px 0;
        font-size: 30px;
        font-weight: 700;
        color: $main-color;
        text-align: center;
    }


    .item {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    .owl-nav {
        display: none;
    }

    p {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    .forms {

        width: 90%;
        margin: auto;
        padding: 30px 20px;
        border-radius: 15px;
        background-color: #272727;

        @include responsive(767px) {
            width: 100%;
        }

        p {
            color: $light;

            @include responsive(767px) {
                font-size: 15px;
            }
        }

        .inputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            input {
                width: 60%;
                border: none;
                box-shadow: none;
                margin-right: 10px;

                @include responsive(767px) {
                    width: 100%;
                    margin: 0;
                }
            }

            .btn {
                width: 20%;

                @include responsive(767px) {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }

    }
}

/* ===================== contact ===============  */

.contact {

    .icon {
        width: 50px;
        height: 50px;
        color: $light;
        display: flex;
        align-items: center;
        border-radius: 50%;
        border: 1px solid $main-color;
        justify-content: center;
        background-color: $main-color;


    }


}






/* =================================== page about-us =================================== */

.about-us {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-color: #000;
    background-position: center center;
    background-image: url('../image/about_us/pexels-zukiman-mohamad-190417.jpg');


    .layout {
        @extend .layout-page;
    }

}

.mission {

    padding: 120px 0 0 0;

    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1210px;


    }


    .text {
        padding: 20px;
        height: 250px;
        text-align: center;
        background-color: $light;

        @include responsive(761px) {
            height: auto;
        }

        h3 {
            padding: 10px;
            color: $main-color;
            font-size: 30px;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 1px;
                background-color: #e11739a1;
                bottom: 0;
                left: 38%;



            }
        }

        p {
            line-height: 1.8;
        }
    }

    .image {
        height: 250px;
        overflow: hidden;
        border-radius: 15px;


        img {
            transition: all 0.5s;
            border-radius: 15px;

        }

        &:hover img {
            transition: all 0.5s;
            transform: scale(1.2);
        }
    }
}


.services {

    padding: 60px 0 100px 0;

    h2 {
        color: $light;
        padding: 20px;
        font-size: 30px;
        font-weight: 700;
        color: $main-color;
        color: $main-color;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
        margin-bottom: 15px;


    }


    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .text {
        padding: 100px 20px;
        background-color: $light;




        h6 {
            z-index: 1;
            font-size: 20px;
            margin-top: 10px;
            font-weight: 700;
            position: relative;
            color: $main-color;

        }

        p {
            z-index: 1;
            color: $light;
            position: relative;

        }

        i {
            z-index: 1;
            color: $light;
            font-size: 30px;
            position: relative;
        }
    }

    .ser1,
    .ser2,
    .ser3 {
        position: relative;

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            position: absolute;
            background-color: #166495;
        }

        &::after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: "";
            position: absolute;
        }

        &:hover::after {
            z-index: 1;
            background-color: #0A2E47;

        }

        &:hover h6,
        p,
        i {
            z-index: 2;
        }

    }

    .ser2 {
        &::before {
            background-color: #272727 !important;
        }

        &:hover:after {
            background-color: #433127;
        }
    }

    .ser3 {
        &::before {
            background-color: #06a490 !important;
        }

        &:hover:after {
            background-color: #04534A;


        }
    }



}


/* ========= certificates ========= */

.certificates {
    padding: 100px 0;
    background-color: $light;

    h2 {
        font-size: 30px;
        font-weight: 700;
        color: $main-color;
        text-align: center;
        letter-spacing: 3px;
    }

    .cards {
        gap: 15px;
        display: flex;
        flex-direction: row;

        .cer1 {
            background-color: #007e9e;
        }

        .cer2 {
            background-color: #0062ff;
        }

        .cer3 {
            background-color: #18cd5e;
        }

        .card {
            width: 25%;
            margin: auto;
            display: flex;
            height: 100px;
            color: $light;
            cursor: pointer;
            transition: 400ms;
            text-align: center;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &:hover {
                transform: scale(1.2, 1.2);

            }
        }

        &:hover>.card:not(:hover) {
            filter: blur(10px);
            transform: scale(0.9, 0.9);
        }
    }

}


/* ourteam */

.ourteam {
    margin-bottom: 160px !important;

    padding: 100px 0;
    background-color: $second-color;

    h2 {
        font-size: 30px;
        color: $main-color;
        font-weight: 700px;
        padding-bottom: 30px;
    }

    .member {
        position: relative;
        overflow: hidden;

        .image {
            position: relative;
            border-radius: 15px;
            transition: all 0.5s;


            img {
                transition: all 0.5s;

                border-radius: 15px;
            }


            &::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                content: "";
                position: absolute;
                border-radius: 15px;
                transition: all 0.5ss;
                background-color: #0d6efd57;

            }
        }

        i {
            top: 0;
            z-index: 1;
            font-size: 30px;
            position: absolute;
            transition: all 0.5s;
            transform: translate(-32px, 14px);

        }

        &:hover .image::before {
            transition: all 0.5s;
            opacity: 1;

        }

        &:hover i {
            transition: all 0.5s;
            transform: translate(5px, 14px);

        }


    }

}



/* =================================== sytem page =================================== */

.sytem {
    background: url("../image/system/main.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page;
    }
}


.section-system {

    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1210px;

    }

    .text-system {
        color: $light;
        padding: 10px;
        padding: 10px;
        border-radius: 15px;
        background-color: $second-color;

        h2 {
            font-size: 30px;
            font-weight: 7000;
            color: $main-color;
            position: relative;
            padding-bottom: 10px;

            &::after {
                left: 0;
                bottom: 0;
                width: 50px;
                height: 1px;
                content: "";
                position: absolute;
                background-color: #e11739;
            }
        }

        span {
            color: #777;
            font-size: 14px;
            padding-left: 5px;
        }

        p {
            line-height: 1.8;
        }
    }

    .item {
        transition: all 1s ease;
        background-color: $light;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);




        .image {
            overflow: hidden;
            position: relative;
            border-radius: 15px;



            .layout {
                top: -100%;
                left: -100%;
                width: 100%;
                height: 100%;
                padding: 20px;
                position: absolute;
                transition: all 0.5s ease;
                background-color: #212529d6;
            }


        }

        .title {
            padding: 20px 0;
            position: relative;
            transition: all 1s ease;

            h6 {
                color: $main-color;
            }

            p {
                color: $span-color;
            }


            &::after {
                left: 0;
                right: 0;
                bottom: 0;
                height: 5px;
                content: "";
                position: absolute;
                transition: all 1s ease;
                background-color: $main-color;

            }

            &::before {
                left: 41%;
                bottom: 0;
                z-index: 1;
                width: 40px;
                content: "+";
                height: 40px;
                display: flex;
                font-size: 20px;
                font-weight: 900;
                position: absolute;
                border-radius: 50%;
                align-items: center;
                transition: all 1s ease;
                justify-content: center;
                background-color: #fff;
                transform: translate(0, 15px);
            }

        }



        &:hover .layout {
            top: 0;
            left: 0;
            z-index: 0;
        }

        &:hover .title::after {
            background-color: $second-color;
        }

        &:hover .title::before {
            background-color: $second-color;
            color: #fff;
        }

    }
}


/* =================================== Project Page =================================== */
.project {
    height: 60vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-color: $black;
    background-position: center center;
    background: url("../image/projectss/main.jpg");

    .layout {
        @extend .layout-page;
    }

}

.section-project {
    padding: 100px 0;

    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;

    }

    @extend .event;


    aside {
        border-radius: 15px;

        .btn:first-child {
            border-top-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
        }

        .btn {
            border: none;
            border-radius: 0;
            font-weight: 600;
            padding: 20px 10px;
            color: $main-color;
            border-bottom: 1px solid #9eaac0;
        }

        .text {
            color: $light;
            height: 300px;
            font-size: 18px;
            font-weight: 600;
            position: relative;
            padding: 40px 20px;
            background-size: cover;
            background-position: center center;
            background-image: url('../image//projectss/aside.png');

            .title {
                text-align: center;
                width: 300px !important;

                button {
                    border-radius: 10px;
                    transition: all 0.5s;


                    &:hover {
                        transition: all 0.5s;
                        background-color: $light;
                    }
                }
            }

            .overlay {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                background-color: #00000078;

            }

            @include responsive(767px) {
                height: 200px;
            }

            height: 300px;
        }

        .call {
            padding: 20px;
            text-align: center;
            background-color: $second-color;

            i {
                margin: 10px 0;
                font-size: 30px;
                color: $main-color;
            }

            p,
            span {
                color: $light;
            }
        }

    }

    .main {

        .image {
            img {
                border-radius: 15px;
            }
        }



        .text {
            h6 {

                font-size: 22px;
                font-weight: 700;
                position: relative;
                color: $main-color;
                letter-spacing: 2px;
                padding-bottom: 10px;
                margin: 30px 0 20px 0;

                &::after {
                    left: 0;
                    bottom: 0;
                    content: "";
                    height: 1px;
                    width: 100px;
                    position: absolute;
                    background-color: $second-color;
                }
            }

            p {
                color: $span-color;
                line-height: 1.8;
            }
        }
    }

    .details {
        width: 50%;
        transition: all 0.5s;
        background-color: $second-color !important;

        a {
            font-size: 20px;
            font-family: cursive;
            color: $light !important;
        }

        &:hover {
            transition: all 0.5s;
            border: 1px solid $main-color;
            background-color: $light !important;
        }

        &:hover a {
            color: $main-color !important;


        }
    }
}

/* ===================================  project-id =================================== */




.project-id {
    .imagee {
        position: relative;
        padding-bottom: 20px;

        &::after {
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            content: "";
            position: absolute;
            background-color: $main-color;
        }

        &::before {
            left: 0;
            z-index: 1;
            width: 30px;
            content: ">";
            height: 30px;
            bottom: -13px;
            display: flex;
            color: $light;
            position: absolute;
            border-radius: 50%;
            align-items: center;
            background-color: $second-color;
            justify-content: center;
        }

        img {
            transition: all 0.5s;
            border-radius: 13px;

            &:hover {

                transform: scale(1.1);
            }
        }
    }

    a {
        color: $main-color !important;
    }
}







.polivardo {

    h1 {
        color: $main-color;
    }
}

/* =================================== event page =================================== */

.events {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-color: #000;
    background-position: center center;
    background: url("../image/events/main.jpg");

    .layout {
        @extend .layout-page;
    }
}


/* =================================== Downloads page =================================== */
.sec-download {
    height: 60vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-color: #000;
    background-position: center center;
    background: url("../image/dwounload/main.jpg");

    .layout {
        @extend .layout-page;
    }
}


/* =================================== Media page =================================== */
.media {
    background: url("../image/media.jpg");
    height: 60vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-size: cover;
    background-position: center center;

    .layout {
        @extend .layout-page
    }
}

.bg-btn-media {
    color: $light;
    transition: all 0.5s;
    width: 200px !important;
    background-color: $second-color !important;

    &:hover {
        transition: all 0.5s;
        color: $main-color;
        background-color: $light !important;
        border: 1px solid $main-color;
    }
}

.sectino-media {

    img {
        transition: all 0.5s ease-in;

        &:hover {
            transform: scale(1.1) !important;
        }
    }

    span {
        cursor: pointer;
        transition: all 0.5s ease-in;


        &:hover {
            color: $main-color;
        }
    }
}


.video video {
    width: 100%;
}

#madiaLayout {
    z-index: 999999;
    background-color: #00000091;
}




/* =================================== Contacts page =================================== */

.contact-us {
    height: 60vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-color: #000;
    background-position: center center;
    background: url("../image/contact/main.jpg");

    .layout {
        @extend .layout-page;
    }
}

.contacts {
    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1210px;

    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        color: $main-color;
    }



    .contact-details {

        h2 {

            color: $light;
        }

        color: $light;
        padding: 50px 20px;
        border-radius: 15px;
        background-color: #272727;

        span {
            font-size: 12px;

        }

        i {
            font-size: 25px;
        }

        .social {
            margin-top: 20px;

            i {
                padding: 7px;
                margin-left: 18px;
                border-radius: 5px;
                transition: all 0.5s;
                border: 1px solid $light;

                &:hover {
                    color: $main-color;
                    transition: all 0.5s;
                    background-color: $light;
                }
            }
        }
    }

    .send-message {

        h2 {
            font-size: 30px;
            padding: 10px 0;
            font-weight: 800;
            position: relative;
            margin: 0 0 20px 0;
            color: $second-color;

            &::after {
                left: 0;
                bottom: 0;
                height: 1px;
                content: "";
                width: 100px;
                position: absolute;
                background-color: $second-color;
            }

        }

        input {
            width: 48%;
            border: none;
            padding: 15px;
            border-radius: 10px;
            background-color: #00000014;


            @include responsive(667px) {
                width: 100%;
                margin: 10px 0;
            }

            &:focus {
                outline: none;
                border: 1px solid $main-color;
            }
        }

        textarea {
            width: 97%;
            border: none;
            margin-top: 10px;
            background-color: #00000014;

            &:focus {
                outline: none;
                border: 1px solid $main-color;
            }
        }

        .btn {
            width: 150px;
            color: $light;
            margin-top: 15px;
            padding: 10px 20px;
            border-radius: 30px;
            transition: all 0.5s;
            background-color: $second-color;

            &:hover {
                color: $main-color;
                transition: all 0.5s;
                background-color: $light;
                border: 1px solid $main-color;
            }
        }
    }


    .map {
        padding: 15px;
        border-radius: 20px;

        iframe {
            width: 100%;
            border-radius: 5px;
        }
    }
}


/* **********  Main Contacts  ********** */
.contacts-home {
    padding: 30px 0;
    background-color: #001e5724;


    .item {
        display: flex;
        margin: 10px 0;
        align-items: center;

        p {
            margin: 0;
        }

        .icon {
            width: 50px;
            height: 50px;
            color: $light;
            font-size: 26px;
            background-color: $main-color;
            border: 1px solid $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}



/* =================================== Footer ===================================  */


footer {
    overflow: hidden;
    position: relative;
    padding: 60px 0 0 0;
    background-color: #000000e0;

    p {
        color: $light;
    }

    .logo {
        width: 100px;
    }

    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff;
        font-size: 22px;

        &:hover {
            background-color: $main-color;
        }
    }



    span {
        font-size: 20px;
        font-weight: bold;
        color: $main-color;
    }

    a {
        font-weight: 700;
        color: $light !important;
    }

    .copy {
        padding: 30px;
        overflow: hidden;
        border-top: 1px solid #ffffff29;

        p {
            margin: 0;
        }
    }

}



/* ===================== scrollbar ===============  */
::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}